body {
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: row;
    height: 240px;
}
.input-zone {
    flex-basis: 50%;
    flex-shrink: 1;
    padding: 10px;
}
.input-zone textarea {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    color: midnightblue;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.validate {
    flex-grow: 0;
    padding: 10px;
}
.validate button {
    height: 100%;
    width: 100%;
    background-color: green;
    color: white;
    font-weight: bold;
}
#result {
    padding: 20px;
    border: 5px solid orange;
}